.container {
  position: relative;
  @include default-sizing(868px);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 25vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 75vh;
}

nav {
  flex: 0 1 30%;
  order: 2;
  font-size: 1.75em;
}

article {
  flex: 1 1 70%;
  height: 100%;
}

nav.projects {
  flex: 0 1 30%;
  order: 0;
}

.content {
  flex: 0 1 60%;
  order: 1;
  position: relative;
}
