h1, h2, h3, h4 {
  font-family: freight-display-pro, serif;
  margin: 0.2em 0 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $main;
  .secondary-page & {
    color: $beige;
  }
}

h1 {
  font-size: 20vw;
  line-height: 0.8;
  font-weight: 600;
  @include breakpoint(medium) {
    font-size: 5.5em;
  }
  @include breakpoint(large) {
    font-size: 6.25em;
  }
}

h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1;
  color: desaturate(darken($beige, 25%), 30%);
  .secondary-page & {
    color: desaturate(darken($beige, 25%), 30%);
  }
  @include breakpoint(medium) {
    font-size: 2em;
  }
  @include breakpoint(large) {
    font-size: 2.3125em;
  }
}

p {
  font-size: 1.125em;
  line-height: 1.4;
  &:first-of-type {
    margin-top: 2.75em;
  }
}

nav a {
  font-family: freight-display-pro, serif;
  color: $second;
  text-decoration: none;
  margin-left: 0.5em;
  .secondary-page & {
    color: $beige;
  }
}
