$beige: #F8F5EB;
$red: #DA6259;
$denim: #3B516B;
$denim-light: #6B7C8E;
$text: #6A6964;

$second: $denim;
$primary: $red;

$mobile-margin: 1.5625em;
$desktop-margin: 2em;

$small:   0;
$medium:  376px;
$xmedium: 550px;
$large:   769px;
$larger:  900px;
$xlarge:  1201px;
$xxlarge: 1441px;