$beige: #F8F5EB;
$main: #DA6259;
$second: #3B516B;
$text: #6A6964;

$mobile-margin: 1.5625em;
$desktop-margin: 2em;

$small:   0;
$medium:  376px;
$xmedium: 550px;
$large:   769px;
$larger:  900px;
$xlarge:  1201px;
$xxlarge: 1441px;