$beige: #F8F5EB;
$main: #DA6259;
$text: #6A6964;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  // background-color: yellow;
  font-size: 16px;
  background-color: $beige;
  color: $text;
  font-family: freight-text-pro, serif;
}

@import 'typography';
@import 'transitions';


.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 868px;
  margin: 10vw auto;
}
nav {
  flex: 1 1 33.333%;
  order: 2;
  font-size: 1.75em;
}
.content {
  flex: 1 1 66.666%;
  order: 1;
}

